/* Write your CSS here */
.bg {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
h1 {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 60px;
}
p {
  color: #ffffff;
  font-family: 'Bree Serif';
}
button {
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 10px;
  font-family: 'Bree Serif';
  padding: 10px;
  cursor: pointer;
}
